@font-face {
    font-family: 'RSU';
    src: url('../fonts/rsu_regular-webfont.eot');
    src: url('../fonts/rsu_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rsu_regular-webfont.woff2') format('woff2'),
         url('../fonts/rsu_regular-webfont.woff') format('woff'),
         url('../fonts/rsu_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RSU';
    src: url('../fonts/rsu_bold-webfont.eot');
    src: url('../fonts/rsu_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rsu_bold-webfont.woff2') format('woff2'),
         url('../fonts/rsu_bold-webfont.woff') format('woff'),
         url('../fonts/rsu_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}